
  md-toolbar {
      background-color: white !important;
      color: grey !important;
  }


event-categorie-choice {
    height: 250px;
}

md-icon {
    color: black;
    left: 13px !important;
}

.md-input-container {
    width: 100%;
}

#eventAddButton {
    width: 100%;
}
