<md-toolbar color="primary">
    <h2 md-dialog-title>Créer un événement</h2>
</md-toolbar>

<md-dialog-content>
    <form [formGroup]="addForm" layout="column" (ngSubmit)="addEvent()">
        <md-input-container>
            <!-- <md-icon md-svg-icon="content:ic_create_24px" color="grey"></md-icon> -->
            <input mdInput required formControlName="title" placeholder="Nom" />
        </md-input-container>
        <md-input-container>
            <!-- <md-icon md-svg-icon="content:ic_create_24px" color="grey"></md-icon> -->
            <input mdInput required [(ngModel)]="date" [ngModelOptions]="{standalone: true}" placeholder="Date" ng2-datetime-picker date-only="true"/>
        </md-input-container>
        <!-- <event-input-date></event-input-date> -->
        <md-input-container>
            <!-- <md-icon md-svg-icon="maps:ic_place_24px"></md-icon> -->
            <input mdInput required formControlName="location" placeholder="Lieux" />
        </md-input-container>
        <md-input-container>
            <md-icon md-svg-icon="action:ic_description_24px"></md-icon>
            <textarea mdInput formControlName="description" md-maxlength="1500" rows="3" placeholder="Description"></textarea>
        </md-input-container>
        <label>Catégories</label>
        <event-categorie-selector (onCategorieSelected)="onCategorieSelected($event)"></event-categorie-selector>
        <button md-raised-button color="primary">Ajouter</button>
    </form>
</md-dialog-content>
