<md-toolbar color="primary">
    <h2 md-dialog-title>Neptune</h2>
</md-toolbar>

<md-dialog-content>
    <form [formGroup]="addForm" layout="column" (submit)="addEvent()">
        <md-input-container>
            <!-- <md-icon md-svg-icon="content:ic_create_24px" color="grey"></md-icon> -->
            <input md-input required formControlName="name" placeholder="Nom" />
        </md-input-container>
        <md-input-container>
            <!-- <md-icon md-svg-icon="maps:ic_place_24px"></md-icon> -->
            <input md-input required formControlName="location" placeholder="Lieux" />
        </md-input-container>
        <md-input-container>
            <md-icon md-svg-icon="action:ic_description_24px"></md-icon>
            <textarea md-input formControlName="description" md-maxlength="1500" rows="3" placeholder="Description"></textarea>
        </md-input-container>
        <label>Catégories</label>
        <event-categorie-selector (onCategorieSelected)="onCategorieSelected($event)"></event-categorie-selector>
        <button md-raised-button type="submit" color="primary">Ajouter</button>
    </form>
</md-dialog-content>
