.listCategorie {
    height: 100%;
    overflow-y: scroll;
}

.imageSmall,
event-categorie-image-large {
    height: 100%;
    width: auto;
}
.imageLarge{
  width: 100%;
}
md-grid-tile md-grid-tile-footer {
    background: rgba(0,0,0,0.80) !important;
    height: 24px !important;
}

md-grid-tile-footer figcaption h3 {
    text-align: center;
    font-weight: 500;
}

span {
    position: relative;
    left: 30px;
    bottom: 0;
}
