<div class="choixCategorie">
    <div class="listCategorie" *ngIf="showList()">
        <md-grid-list cols="6" md-row-height="1:1" md-gutter="12px">
            <md-grid-tile  *ngFor="let categorie of categories | async">
              <img class="imageSmall" src="{{categorie.imageSmall}}" (click) = "setCategorieEvent(categorie)"/>
                <!-- <event-categorie-image image='categorie.thumb' ng-click="eventCategorieChoice.setCategorieEvent(categorie);"></event-categorie-image> -->
                <md-grid-tile-footer>
                    <h3>{{categorie.name}}</h3>
                </md-grid-tile-footer>
            </md-grid-tile>
        </md-grid-list>
    </div>
    <div class="imageEvent" *ngIf="showImage()">
      <img src="{{eventCategorieChoice.categorieEvent.imageLarge}}"/>
        <!-- <event-categorie-image-large image="eventCategorieChoice.categorieEvent.largeImage"></event-categorie-image-large> -->
        <!-- <span ng-click="eventCategorieChoice.setShowChangeImage()">Vous voulez changer d'image cliquer ici</span> -->
    </div>
    <!-- <div  ng-if="eventCategorieChoice.showChangeImage()">
        <event-upload-image event="eventCategorieChoice.event"></event-upload-image>
    </div> -->
</div>
