.event-details {
    .banniere-image {
        width: inherit;
        bottom: 0;
        vertical-align: baseline;
    }

    .right-button {
        position: absolute;
        bottom: 25px;
        right: 36px;
    }

    .banniere-contenaire {
        position: relative;
        width: 100%;
    }

    event-details-info{
        position: absolute;
        left: 50%;
        bottom: 25%;
        transform: translateX(-50%)translateY(-25%);
        text-align: center;
        
    }
    event-list-users{
         position: absolute;
         left: 50%;
         bottom: 5%;
         transform: translateX(-50%)translateY(-5%);
         width: 100%;
    }
    .event-description {
        min-height: 100px;
        margin-bottom: 50px;
    }
    .description-label{
        font-size: 18px;
        padding: 0 10px 0 0;
    }
    .event-page-middle {
        margin: 0 10%;
        padding: 10px;
    }
}
