<p *ngIf="loading">
    Loading...
</p>
<div class="event-details" *ngIf="event">
    <div class="banniere-contenaire">
        <img class="banniere-image" src="{{event.picture}}" />
        <!--<event-details-info [event]="event"></event-details-info>-->
        <event-update-button class="right-button" *ngIf="isUserEvent()"></event-update-button>
        <event-details-add-guest-button class="right-button" [(event)]="event" *ngIf="! isUserEvent()"></event-details-add-guest-button>
        <event-list-users [users]="event.guests"></event-list-users>
    </div>
    <div class="event-page-middle">
        <div class="event-page-middle-top" layout="row">
            <app-justmove-calendar class="margin-10"></app-justmove-calendar>
            <md-card class="margin-10">
                <md-card-header>
                    <h2> Description </h2>
                </md-card-header>
                <md-card-content>
                    {{event.description}}
                </md-card-content>
            </md-card>
        </div>
        <justmove-maps class="margin-10"></justmove-maps>
        <event-details-message-room [event]="event"></event-details-message-room>
    </div>
</div>
</div>