<p *ngIf="loading">
    Loading...
</p>
<div class="event-details" *ngIf="event">
    <div class="banniere-contenaire">
        <img class="banniere-image" src="{{event.picture}}" />
        <!--<event-details-info [event]="event"></event-details-info>-->
        <event-update-button class="right-button" *ngIf="isUserEvent()"></event-update-button>
        <event-details-add-guest-button class="right-button" [(event)]="event" *ngIf="! isUserEvent()"></event-details-add-guest-button>
        <event-list-users [users]="event.guests"></event-list-users>
    </div>
    <div class="event-page-middle md-padding">
        <div class="event-page-top" layout="row">
            <app-justmove-calendar></app-justmove-calendar>
            <div layout="column" class="details-top-right">
                <event-details-info [event]="event"></event-details-info>
                <div class="description">
                    {{event.description}}
                </div>
            </div>
        </div>
    </div>

    <div class="event-description">
        <span class='description-label'>Description</span>
        <div class="description">
            {{event.description}}
        </div>
    </div>
    <event-details-message-room [event]="event"></event-details-message-room>
</div>
</div>